<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<context-param>
		<param-name>outHtml</param-name>
		 <param-value>text/html;charset=utf-8</param-value>
	</context-param>
	<context-param>
		<param-name>outJsone</param-name>
		 <param-value>application/json;charset=utf-8</param-value>
	</context-param>
</web-app>
