<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
			<servlet>
					<servlet-name>page1</servlet-name>
					<servlet-class>tw.com.web.Page1Servlet</servlet-class>
					<init-param>
						<param-name>path</param-name>
						<param-value>C:\MyDir\test.txt</param-value>
					</init-param>	
					
					<init-param>
						<param-name>count</param-name>
						<param-value>20</param-value>
					</init-param>		
			</servlet>
			
		<context-param>
				<param-name>sql_account</param-name>
				<param-value>qwer</param-value>	
		</context-param>
		<context-param>
				<param-name>sql_password</param-name>
				<param-value>12345</param-value>
		</context-param>
</web-app>
